<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    status="hold"
    updateAt="07/01/2023 16:04:00"
    createAt="06/01/2023"
    notes="we have two bags that are full! One with plastic and other with glass"
  ></app-pickup-call-card>
  <app-pickup-call-card
    status="processing"
    updateAt="08/01/2023 11:04:00"
    createAt="06/01/2023"
    notes="we have more one bags that are full!"
  ></app-pickup-call-card>
  <app-pickup-call-card
    status="finished"
    updateAt="09/01/2023 10:14:00"
    createAt="09/01/2023"
    notes=""
    value="15,00"
  ></app-pickup-call-card>
</ion-content>
