<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p>07/01/2023 16:04:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label> 
          <p>Created at 06/01/2023</p>
          <p>Notes: we have two bags that are full! One with plastic and other with glass</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
   <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          Processing
          <p>08/01/2023 11:04:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label> 
          <p>Created at 06/01/2023</p>
          <p>Notes: we have two bags that are full! One with plastic and other with glass</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
   <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          Finished
          <p>09/01/2023 10:14:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label> 
          <p>Created at 06/01/2023</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success">$ 15,00</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
