<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img width="100%" src="" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake address</p>
      <p>Street: Fake street</p>
      <p>Number: 42</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 08797</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="onCreatePickupCall()"
    >Create pickup call
  </ion-button>
</ion-content>
