<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Peciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img
          src="https://i.pinimg.com/564x/9b/45/38/9b4538e670edb8d60a884a538f3fedb9.jpg"
        />
      </ion-avatar>
      <ion-label>
        <h1>Paulo Alves</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card
    [hasHeader]="true"
    [hasFooter]="true"
    status="hold"
    updateAt="07/01/2023 16:04:00"
    createAt="06/01/2023"
    notes="we have two bags that are full! One with plastic and other with glass"
  >
    <ion-card-header header>
      <ion-card-subtitle>List pick up calls</ion-card-subtitle>
    </ion-card-header>
    <ion-button footer size="full" color="success" fill="clear">See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
